.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-MenuTask-Me {
  background-color: #2d2e31;
  min-height: 1250px;
  float: left;
  width: 13%;
  margin-top: -25px;
}
.App-header-Me {
  background-color: rgba(0, 134, 60, 0.644);
  min-height: 7vh;
  float: left;
  width: 87%;
}

.App-header-Me-ver2 {
  min-height: 7vh;
  float: left;
  width: 87%;
}

.App-footer-Me {
  position: fixed;
  left: 248px;
  bottom: 0;
  float: left;
  min-height: 5vh;
  width: 87%;
  text-align: center;
}

.App-header-posion {
  position: fixed;
  left: 248px;
  float: left;
  min-height: 5vh;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cssSlideBar {
  margin-top: 40px;
  padding-top: 17px;
}

.App-link {
  color: #61dafb;
}

.iconTasks {
  /* margin-top: 40px;
  margin-left: 45px; */
  height: 70px;
  padding-top: 22px;
  padding-left: 47px;
}

 
.iconTasks:hover {
  display: block;
  background-color: rgba(0, 134, 60, 0.644);
}

.iconTasks:focus-visible{
  background-color: rgba(0, 134, 60, 0.644);
}

.btnLogin{
  height: 40px;
  width: 90px;
  float: right;
  margin-right: 26px;
  margin-top: 14px;
  margin-bottom: 16px;
  background-color: rgb(235, 203, 161);
}

.btnLogin:hover{
  background-color: rgba(236, 65, 59, 0.644);
}

.usernameLogin {
  float: right;
  margin-top: 14px;
  margin-right: 17px;
  font-size: 32px;
  color: rgb(244, 250, 250);
  font-family: 'Allura'
}

.nameLogin {
  font-size: 50px;
  font-family: 'Bungee Shade';
  margin-bottom: 20px;
}

.main-Me {
  height: 580px;
  /* background-color: coral; */
  float: left;
  margin-top: 30px;
  margin-left: 48px;
  width: 82%;
  position: relative;
}

.titleNameForm {
  float: left;
  margin-left: 25px;
  display: block;
}

.formData {
  width: 95%;
  margin-left: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.acceptBtn {
  height: 48px;
  width: 57px;
  margin-right: 20px;
  background-color: rgb(251, 220, 39);
  font-size: 26px;
}

.UnacceptBtn {
  height: 48px;
  width: 57px;
  margin-right: 20px;
  background-color: rgb(13, 187, 85);
  font-size: 26px;
}

.deletedBtBook {
  height: 48px;
  width: 57px;
  margin-right: 20px;
  background-color: rgb(247, 107, 83);
  font-size: 26px;
}

.updatedBtnBook {
  height: 48px;
  width: 61px;
  font-size: 20px;
  /* background-color: rgb(103, 214, 241); */
  background-color: #e141f7;
  padding-top: 3px;
}

.deletedBtn {
  height: 48px;
  width: 57px;
  margin-right: 20px;
  background-color: rgb(253, 104, 78);
  font-size: 26px;
  margin-left: 16px;
}

.updatedBtn {
  height: 48px;
  width: 61px;
  font-size: 22px;
  /* background-color: rgb(103, 214, 241); */
  background-color: #e141f7;
  margin-left: 16px;
}

.btnHome {
  height: 227px;
  width: 257px;
  margin-right: 129px;
  border-radius: 25%;
} 

.btnHome:hover {
  background-color: rgb(13, 187, 85);
}

.addBtn {
  float: right;
  margin-right: 57px;
  margin-bottom: 6px;
  font-size: 41px;
  color: rgb(36, 22, 22);
}

.container111 {
  width: 500px;
  margin: auto;
  float: right;
}
.pagination {
  width: 400px;
  margin-top: 55px;
}
.pagination a {
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  height: 45px;
  width: 50px;
}
 
.pagination a.active {
  background-color: black;
  color: black;
}
   
.pagination a:hover:not(.active) {
  background-color: rgb(17, 4, 4);
}

.phanTrangBtn {
  border: 1px solid black;
  margin-left: 3px;
  height: 50px;
  width: 53px;
  text-align: center;
  border-radius: 11%;
}

.phanTrangBtn:hover {
  background-color: rgb(13, 187, 85);
}

.phanTrangBtn:focus {
  background-color: rgb(13, 187, 85);
}

.formDataAddCat{
  margin-top: 60px;
    margin-left: 50px;
    width: 40%;
    border: 1px dashed;
    padding-left: 75px;
    padding-top: 60px;
    border-radius: 4%;
    height: 254px;
}

.formDataAddContact{
  margin-top: 60px;
  margin-left: 50px;
  width: 42%;
  border: 1px dashed;
  padding-left: 67px;
  padding-top: 40px;
  height: 485px;
  border-radius: 5%;
}

.formDataAuthorContact{
  margin-top: 60px;
  margin-left: 50px;
  width: 42%;
  border: 1px dashed;
  padding-left: 67px;
  padding-top: 40px;
  height: 540px;
  border-radius: 5%;
}

.formDataBookContact{
  margin-top: 50px;
  margin-left: 50px;
  width: 93%;
  border: 1px dashed;
  padding-left: 75px;
  padding-top: 32px; 
  height: 950px;
  border-radius: 3%;
}

.homeData {
  text-align: center;
  margin-top: 150px;
  margin-left: 78px;
}

.iconMe {
  color: darkgray;
  font-size: 25px;
  margin-right: 17px;
  margin-bottom: 4px;
}

.iconLogin {
  margin-top: 3px;
  float: right;
  /* height: 55px; */
  font-size: 40px;
  margin-right: 15px;
}

.homeIcon {
  font-size: 125px;
  color: black;
}

.phantrangBook {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -150px;
  margin-left: 715px;
}

.phantrangUser {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -195px;
  margin-left: 715px;
}

.phantrangMe {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -150px;
  margin-left: 715px;
}

.phantrangCategory {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -200px;
  margin-left: 715px;
}

.phantrangAuthor {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -140px;
  margin-left: 715px;
}

.phantrangComment {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: -140px;
  margin-left: 690px;
}

.overflow-ellipsis {
  width: 200px;
  height: 65px;
  overflow: hidden;
}

.borderCss {
  border: 2px solid;
}

.selectCss {
  width: 500px;
  border: 1px solid;
  margin-top: -3px;
}

.editorCss {
  width: 1280px;
  border: 1px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
